.mask {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(102, 102, 102, 0.6);
  .main {
    width: 800px;
    height: 800px;
    border: 1px solid red;
    img {
      width: 100px;
      height: 100px;
    }
  }
}
